@font-face {
    font-family: "Bauhaus 93";
}
@font-face {
    font-family: "Hadassah Friedlaender"
}
:root
    {
        --thumbnails-image-width: 20vw;
        --thumbnails-image-height: 15vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.25);
    }

body, html{
    height: 100%;
    /*width: 100%;*/
}
body{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    margin: 0;
    /*width: 1260px;*/
    /*height: 760px;*/
}
.logo{
    display: block;
    /*width: 1260px;*/
    /*height: 60px;*/
    font-size:3em;
    background-color: chartreuse;
    text-align: center;
    color: crimson;
    font-family: "Bauhaus 93";
    text-transform: uppercase;
    /*flex-grow: 2;*/
}
.main-Class
{
    display: flex;
    margin: auto;
    flex-direction: column;
    /*text-align: center;*/
    justify-content: center;
    flex-grow: 1;
    /*width: 960px;*/
}
.details-container{
    display: flex;
    flex-direction: column;
    /*width: 1160px;*/
    /*height: 500px;*/
    color: fuchsia;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10vh;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.details-image{
    width: 800px;
    height: 400px;
    border-radius: 25%;
    margin: auto;
}
.details-title{
    display: block;
    font-family: "Hadassah Friedlaender";
    text-transform: uppercase;
    font-size: 20px;
    }
.thumbnails-list{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3vh;
    /*max-height: 20vh;*/
    width: 900px;
    overflow-y: auto;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
    flex-grow: 1; /*- don't work'*/
}
.thumbnails-item{
    max-width: var(--thumbnails-image-width);
    min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    margin-top: 3vh;
    /*margin-left: 3vh;*/
    /*margin-right: 3vh;*/
    /*margin-bottom: 2.5vh;*/
    border: solid 2px #17137c;
    border-radius: 25%;
    overflow: hidden;
    display: flex;
}
.thumbnails-image{
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display: block;
    margin-outside:2vh;
}
.thumbnails-title{
    display: block;
    text-align: center;
    front-size: 99%;
    background-color: chartreuse;
    height: var(--thumbnails-title-height);
}
.thumbnails-anchor{
text-decoration: none;
}
@media (min-width: 560px) {
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 960px;
        order: -1;
        /*align-items: inherit;*/
        /*margin-top: auto;*/
        justify-content: flex-start;
    }

    .main-Class {
        flex-direction: row;
        justify-content: space-around;
    }
.details-image{
    width: 600px;
    height: 400px;
}
    @media (min-width: 900px) {
        html{
            height: 600px;
            width: 960px;
        }
        body {
            width: 1260px;
            height: 680px;
        }
        .main-Class{
            height: 600px;
            width: 960px;
        }
        .details-container
        {
            height: 450px;
            margin-top: 20px;
        }
        .details-image{
            justify-content: space-around;
        }
    }
}