:root {
    --size: 8vw;
}

html {
    height: 100%;

}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.board {
    display: flex;
    flex-direction: column;

}

.board-row {
    display: flex;
    flex-direction: row;
}
.cell-black {
    width: var(--size);
    height: var(--size);
    background-color: black;
    border: 1px solid black;
}

.cell-white {
    width: var(--size);
    height: var(--size);
    background-color: white;
    border: 1px solid black;
}
@media(min-width: 560px) {
    :root {
        --size: 4vw;
        margin-top: 20px;
    }
}