@font-face {
    font-family: "Bauhaus 93";
    /*src: url("");*/
}
    :root
    {

        --thumbnails-image-width: 20vw;
        --thumbnails-image-height: 15vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.33);

    }

body, html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    margin: 0;
    width: 1260px;
}
.logo{
    display: block;
    width: 1260px;
    height: 60px;
    font-size:3em;
    background-color: chartreuse;
    text-align: center;
    color: crimson;
    font-family: "Bauhaus 93";
    text-transform: uppercase;
}
.main-Class
{
    margin: auto;
    display: flex;
    flex-direction: column;
   /* text-align: center;*/
    justify-content: center;
    flex-grow: revert;
    width: 1260px;
}
.details-container{
    display: flex;
    flex-direction: column;
    width: 1160px;
    height: 500px;
    color: fuchsia;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10vh;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
}
.details-image{
    width: 860px;
    height: 500px;
    border-radius: 25%;
}
.details-title{
    display: block;
    font-family: Dubai;
    text-transform: uppercase;
    }
.thumbnails-list{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3vh;
    max-height: max-content;
    width: 1250px;
    overflow: auto;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
   /* flex-grow: 1; - don't work'*/
}
.thumbnails-item{
    width: var(--thumbnails-image-width);
    height: calc(var(--thumbnails-image-height)+var(--thumbnails-title-height));
    margin-top: 3vh;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 2.5vh;
    border: solid 2px #17137c;
    border-radius: 25%;
    overflow: hidden;
    display: flex;
}
.thumbnails-image{
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display: block;
    margin-outside:2vh;
}
.thumbnails-title{
    display: block;
    text-align: center;
    front-size: 99%;
    background-color: chartreuse;
    height: var(--thumbnails-title-height);
}
.thumbnails-anchor{
text-decoration: none;
}
@media (min-width: ) {

}
@media screen(900px)
{

}