body{
    display: flex;
    flex-direction: column;
    background-color: bisque;
}
.logo{
    display: block;
    width: 1252px;
    height: 50px;
    font-size:2.5em;
    background-color: chartreuse;
    text-align: center;
    color: crimson;
}
.main-Class
{
    display: block;
    text-align: center;

}
.details-container{
    display: flex;
    flex-direction: column;
    width: 1250px;
    height: 350px;
    border: 1px solid;
    color: fuchsia;
    text-align: center;
    margin-top: 3vh;
    align-items: center;
}
.details-image{
    width: 20vw;
    height: 15vw;

}
.details-title{
    display: block;
    }
.thumbnails-list{
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3vh;
    max-height: 35vh;
    max-width: max-content;
    overflow: auto;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
}
.thumbnails-item{
    width: 20vw;
    height: 20vw;
    margin-top: 3vh;
    margin-bottom: 2.5vh;
    border: solid 2px #17137c;
    border-radius: 25%;
    overflow: auto;
}
.thumbnails-image{
    width: 20vw;
    height: 15vw;
}
.thumbnails-title{
    display: block;
    text-align: center;
    front-size: 99%;
    background-color: chartreuse;
    height: 5vw;
}
.thumbnails-anchor{
text-decoration: none;
}