@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"), 
	     url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf"); 
}
body {
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: large;
    background-color: silver;
    text-decoration: underline;
}
h1, h2 {
  color: #b76666;
    border-bottom: thin dotted #cc6600;
}

h1 {
  font-family: "Emblema One", sans-serif;
  font-size: 220%;
}
h2 {
  font-size: 130%;
  font-weight: normal;
}
blockquote {
  font-style: italic;
}
p.definitely{
    color: darkblue;
}
ul.list{
    color: red;
}