.logo{
    font-size: 1.5em;
}
.MAIN-Class
{

}
.details-container{

}
.details-image{

}
.details-title{
display: block;
}
.thumbnails-list{
list-style: none;
}
.thambnails-item{

}
.thumbnails-image{
    width: 150px;
    height: 150px;

}
.thumbnails-title{
display: block;
}
.thambnails-anchor{

}